// Write your overrides
h1 {
  &.app-logo-title {
    text-transform: uppercase !important;
  }
}

.layout-nav-type-vertical
  .layout-vertical-nav
  .nav-group
  .nav-group
  .nav-link
  .nav-item-icon,
.layout-nav-type-vertical
  .layout-vertical-nav
  .nav-group
  .nav-group
  .nav-group
  .nav-item-icon {
  margin-inline: 30px 0.8125rem;
}

//Routing

.routing-layout {
  display: flex;
  flex-direction: column;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
}

.topbar {
  &-wrapper {
    width: 100svw;
    height: 80px;
    background-color: #25293c;
    display: flex;
    padding: 16px;
    gap: 32px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-overview {
    display: flex;
    align-items: center;
    gap: 10px;
    &-card {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 3px 10px;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.05);
      max-height: 48px;
    }

    &-assign {
      max-height: 48px;
      padding: 3px 10px;
      border-radius: 8px;
      text-align: center;
      min-width: 100px;

      &.assigned {
        border: 1px solid #209f59;
        background: rgba(32, 159, 89, 0.2);
      }

      &.unassign {
        border-radius: 8px;
        border: 1px solid #e64449;
        background: rgba(230, 68, 73, 0.2);
      }
    }
  }

  &-action {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.routing {
  &-wrapper {
    width: 100svw;
    height: calc(100svh - 80px);
    background-color: #fff;
    display: flex;
  }

  &-map {
    width: 55svw;
    height: 100%;
    background-color: #171b2b;
  }

  &-execution {
    width: 45svw;
    height: 100%;
    border: 3px solid #25293c;

    &-toolbar {
      padding: 16px;
      background-color: #25293c;
      height: 122px;
    }
  }
}

.routing-table th {
  padding: 0 8px !important;
}

.routing-table td {
  padding: 0 8px !important;
}

.vehicle-set {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-underline {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
}

.trip {
  &-detail {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
  }

  &-drive {
    h5 {
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
    }

    &-info {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: 8px;

      &-list {
        display: flex;
        align-items: center;
        gap: 2px;
      }
    }
  }

  &-status {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;

    &-time {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.store-dialog {
  &-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    height: 100%;

    h4 {
      font-size: 24px;
    }
  }
}

.timeline {
  &-header {
    background-color: #fff;
    display: flex;
    width: fit-content;

    &-vehicle {
      padding: 10px 16px;
      height: 42px;
      width: 250px;
      display: block;

      span {
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        width: calc(250px - 32px);
        display: block;
      }
    }

    &-time {
      display: flex;
      gap: 0;
      flex-wrap: nowrap;

      &-clock {
        position: relative;
        width: 100px;
        height: 42px;

        span {
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px; /* 146.667% */
          position: absolute;
          right: -17px;
          top: 10px;
          color: #2f2b3d;
        }
      }
    }
  }

  &-line {
    width: fit-content;
    &-list {
      display: flex;
      background-color: #f8f7fa;
      border-bottom: 1px solid #ede9f5;
      height: 110px;
      width: fit-content;
    }

    &-vehicle {
      padding: 8px;
      height: 110px;
      width: 250px;
      display: block;

      &-card {
        border-radius: 6px;
        background: #fff;
        box-shadow: 0px 2px 8px 0px rgba(47, 43, 61, 0.12);
        padding: 9px;
        width: calc(250px - 16px);
      }
    }

    &-time {
      height: 110px;
      position: relative;

      &-route {
        position: absolute;
        bottom: 24px;
        &-point {
          height: 40px;
          border-radius: 4px;
          background: #fff;
          box-shadow: 0px 2px 8px 0px rgba(47, 43, 61, 0.12);
          text-align: center;
          padding: 0 1px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          position: absolute;
        }
        &-border {
          height: 4px;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          transform: translateY(-50%);
        }
      }

      &-divider {
        display: flex;
        gap: 0;
        flex-wrap: nowrap;
        &-square {
          width: 100px;
          height: 110px;
          border-right: 1px solid #ede9f5;
        }
      }
    }
  }
}
